{% extends 'inventory/operations.html' %}
{% block body_block %}
<h1>Campaign Details</h1>
<hr>
<table>
  <tr>
    <td><a class='button' href="{% url 'inventory:campaign_update' pk=campaign_detail.pk %}">Update This Campaign</a></td>
    <td><a class='button' href="{% url 'inventory:campaign_create'%}">Create Another Campaign</a></td>
    <td><a class='button' href="{% url 'inventory:campaign_list'%}">Back To List</a></td>
  </tr>
</table>
<br>
  <h6>Campaign: {{campaign_detail.title}}</h6>
  <p>Region: {{campaign_detail.region}}</p>
  <p>Country: {{campaign_detail.country}}</p>
  <p>Start Date: {{campaign_detail.start_date}}</p>
  <p>End Date: {{campaign_detail.end_date}}</p>
<h4>{{campaign_detail.device_campaign.count}} devices have been donated through the {{campaign_detail.title}} campaign</h4>
<hr>
<br>
{% endblock %}
