{% extends 'inventory/operations.html'%}
{% load bootstrap4 %}
{% block body_block %}
{% if user.is_authenticated %}
<h1>
  {% if not form.instance.pk %}
  Create Donation House
  {% else %}
  Update Donation House
  {% endif %}
</h1>
<hr>
<p><a class='button' href="{% url 'inventory:donation_house_list'%}">Back To List</a></p>

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "Submit" button_class='sideBarButton' %}
  </form>
  {% else %}
        <center><p>If you do not have access to this page, contact the administator at <b id='pe_red'>hello@projectembrace.org</b>, or
          <a href="/"><b id='pe_red'>login.</b></a></p>
        <p><a id='pe_red' href='https://www.projectembrace.org'><b>projectembrace.org</b></a></p></center>
  {% endif %}

  <br>
  <hr>
  <br>
{% endblock %}
