{% extends 'inventory/operations.html' %}
{% block body_block %}
{% if user.is_authenticated %}
  <h1>Donor Details</h1>
  <hr>
  <table>
    <tr>
      <td><a class='button' href="{% url 'inventory:donor_update' pk=donor_detail.pk %}">Update This Donor</a></td>
      <td><a class='button' href="{% url 'inventory:donor_create'%}">Create Another Donor</a></td>
      <td><a class='button' href="{% url 'inventory:donor_list'%}">Back To List</a></td>
    </tr>
  </table>
  <br>
  <p>Name: {{donor_detail.name}}</p>
  <p>email: {{donor_detail.email}}</p>
  <p>Region: {{donor_detail.region}}</p>
  <p>Country: {{donor_detail.country}}</p>
  <p>Date of Donation: {{donor_detail.donation_date}}</p>
  <p>Donation House:<a class='annoying'href="{% url 'inventory:donation_house_detail' pk=donor_detail.pk %}"> {{donor_detail.donation_house}}</a></p>

  <h4 style="color:#000;">{{ donor_detail.name }} donated {{ donor_detail.devices.count}} devices!</h4>
  <hr>
  {% else %}
        <center><p>If you do not have access to this page, contact the administator at <b id='pe_red'>hello@projectembrace.org</b>, or
          <a href="/"><b id='pe_red'>login.</b></a></p>
        <p><a id='pe_red' href='https://www.projectembrace.org'><b>projectembrace.org</b></a></p></center>
  {% endif %}

{% endblock %}
