
{% extends 'inventory/landing.html' %}
{% block body_block %}
{% if user.is_authenticated %}
<h1 style='font-weight: bold;'>Project Embrace Resource Platform</h1>
<hr>
<p>
  <br>
  <br>
   You are now seeing the new landing page for your organization. This page will direct you to materials related to mulitple departments.
</p>

<hr>
<br>

{% else %}
      <center><p>If you do not have access to this page, contact the administator at <b id='pe_red'>hello@projectembrace.org</b>, or
        <a href="/"><b>login.</b></a></p>
      <p><a id='pe_red' href='https://www.projectembrace.org'><b>projectembrace.org</b></a></p></center>
{% endif %}
{% endblock %}
