{% extends 'inventory/public_dash.html' %}
{% block body_block %}
<h1>Inventory Visualizations</h1>
<p>The following visuals are related to Project Embrace's current and donated inventory. These visualizations are interactive.
   Click or hover on any section to understand the equipment types on hand and their respective counts. </p>
<hr>
<div class="row marl justify-content-center">
  <table style='border-collapse:separate; border-spacing: 0 1em;'>
    <tr>
      <td>{{CI2|safe}}</td>
    </tr>
    <tr>
      <td>{{CDI2|safe}}</td>
    </tr>
    <tr>
      <td>{{IOF|safe}}</td>
    </tr>
  </table>
</div>

{% endblock %}
