{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load compress %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PE Public Resources</title>
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/smg7one.css">
  <script type="text/javascript" src="{% static "pygal-tooltips.js"%}"></script>
  <script type="text/javascript" src="{% static "pygal-tooltips.min.js"%}"></script>
  <link rel="stylesheet" href="https://use.typekit.net/smg7one.css">
  <link rel="stylesheet"  href="{% static "pe.css"%}"/>
  {% block date_picker %}
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
  {% endblock date_picker %}

  {% block quill_editor_links %}
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
  {% endblock quill_editor_links %}

  {% compress css %}
  <link href="{% static 'css/main.scss' %}" type="text/x-scss" rel="stylesheet">
  <link href="{% static 'css/mention.scss' %}" type="text/x-scss" rel="stylesheet">
  {% endcompress %}
  <style>
    .card-body {
      padding:0;
      margin:0
    }
    .select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
  </style>
  {% block extralinks %} {% endblock %}
</head>
<body class='main_body_bg_color'>
        <div class="wrapper">
          <a class='row justify-content-center'href="{% url 'inventory:landing_index' %}"><img src="{% static "/pe_logo3.jpg"%}" alt="Aw Fuck"></a>
            <br>
              {% block header %}
              <header>
                <nav class="navbar navbar-expand-lg">
                    <h1 class="navbar-brand">Public Resources</h1>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item-pe"><a class='nav-link' href="https://www.projectembrace.org">Back to Homepage</a></li>
                      <li class="nav-item-pe"><a class='nav-link' href="{% url 'inventory:public_dash_inventory' %}">Inventory Dashboard</a></li>
                      <li class="nav-item-pe"><a class='nav-link' href="{% url 'inventory:public_input_request' %}">Donate Medical Equipment</a></li>
                      <li class="nav-item-pe"><a class='nav-link' href="{% url 'inventory:public_outreach_request' %}">Request a Campaign</a></li>
                    </ul>

                  </div>
                </nav>
              </header>
              {% endblock %}
          <div id="mainbody" class="main_container" style="margin-top:25px; background-color: #ddd9d9;">
          {% block body_block %}

          {% endblock %}
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      {% block moment_js_block %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
      {% endblock moment_js_block %}

      <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


      {% block extra_js_block %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
      <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
      {% endblock extra_js_block %}


      {% block js_block %}{% endblock js_block %}
      <script type="text/javascript">
        $(document).ready(function () {
          word = window.location.pathname.split('/')[1];
          if (word == "") {
            $("#dashboard").addClass('active');
          }
          else {
            $('#' + word).addClass('active');
          }
          marketing_word = window.location.pathname.split('/')[2];
          if (marketing_word == "") {
            $("#marketing-dashboard").addClass('active');
          }
          // console.log(marketing_word.substring(0,7) === 'contact');
          else if (marketing_word.substring(0, 7) === "contact") {
            $("#contact").css({ 'border-bottom': '3px solid #099CBE,' });
            $(".contact_class").css('border-bottom', '3px solid #099CBE');
            marketing_word = window.location.pathname.split('/')[2]
            // console.log(marketing_word)
            // console.log(marketing_word == 'contact-list')
            // console.log(marketing_word == 'contacts')
            if (marketing_word == 'contact-list') {
              $(".contact-list").css('background', '#e5e5e5');
            }
            if (marketing_word == 'contacts') {
              $(".contacts").css('background', '#e5e5e5');
            }
            // $("#contacts").css('background','#e5e5e5');
          }
          else {
            $('#' + marketing_word).addClass('active')
          }
        });
      /*
          Usage is very simple; to block user activity for the page:
            $.blockUI();

          Blocking with a custom message:
            $.blockUI({ message: '<h1><img src="busy.gif" /> Just a moment...</h1>' });

          Blocking with custom style:
            $.blockUI({ css: { backgroundColor: '#f00', color: '#fff'} });

          To unblock the page:
            $.unblockUI();

          If you want to use the default settings and have the UI blocked for all ajax requests, it's as easy as this:
            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        */
      </script>
</body>
</html>
