{% extends 'inventory/finance.html' %}
{% load bootstrap4 %}
{% block content %}
{% if user.is_authenticated %}
<h1>Receipt Page</h1>
      <div class="row marl">
        <div class="col-lg-12 text-right">
      <form method="POST" action=".">
          {% csrf_token %}
          <span class="d-inline">
              {% bootstrap_button "Send Receipts to Donors" button_class='button' %}
          </span>
      </form>
    </div>
  </div>
    <hr>
    <h4> Here are the people who have not been provided a receipt and their dates of donation.</h4>
    <br>
      <table class='annoying'>
          <tr>
            <th>Donor Name</th>
            <th>Donor Email</th>
            <th>Donation Date</th>
          </tr>
        {% for donor in donors %}
          {% if donor.sent_a_receipt == False %}
            <tr>
              <td><a class='annoying' href="{{donor.id}}">{{donor.name}}</a></td>
              <td><a class='annoying' href="{{donor.id}}">{{donor.email}}</a></td>
              <td><a class='annoying' href="{{donor.id}}">{{donor.donation_date}}</a></td>
            </tr>

          {% endif %}
        {% endfor %}
      </table>
      <br>
      <h3>{{output}}</h3>
      <h3>{{alternative_output}}</h3>
      <hr>
      <br>
{% else %}
      <center><p>If you do not have access to this page, contact the administator at <b id='pe_red'>hello@projectembrace.org</b></p>
      <p><a id='pe_red' href='https://www.projectembrace.org'><b>projectembrace.org</b></a></p></center>
{% endif %}
{% endblock %}
