
{% extends 'device_app/operations.html' %}
{% load staticfiles %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% block body_block %}
<h1>Donation Houses</h1>
<hr>
<a class="button" href="{% url 'device_app:donation_house_create'%}">Create Donation House</a>
{% if filter %}
  <form action="" method="get" class = 'form form-group row' >
    {% csrf_token %}
    {% bootstrap_form filter.form %}
    {% bootstrap_button "Filter" button_class='longBodyButton' %}
  </form>
{% endif %}
  {% render_table table 'device_app/table.html' %}
{% endblock %}
