{% extends 'device_app/operations.html' %}
{% block body_block %}
  <h1>Donation House</h1>
  <hr>
  <table>
    <tr>
      <td><a class='button' href="{% url 'device_app:donation_house_update' pk=donationhouse_detail.pk %}">Update This Donation House</a></td>
      <td><a class='button' href="{% url 'device_app:donation_house_create'%}">Create Another Donation House</a></td>
      <td><a class='button' href="{% url 'device_app:donation_house_list'%}">Back To List</a></td>
    </tr>
  </table>
  <br>
  <h5>Title: {{donationhouse_detail.title}}</h5>
  <p>Address: {{donationhouse_detail.street}}, {{donationhouse_detail.city}},
      {{donationhouse_detail.state}} {{donationhouse_detail.zip}}
  </p>
  <h4>{{donationhouse_detail.title}} has recieved donations from {{donationhouse_detail.dono_house.count}} people and organizations during its time in use.</h4>
  <hr>
{% endblock %}
