<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Operations</title>
  <script type="text/javascript" src="{% static "pygal-tooltips.js"%}"></script>
  <script type="text/javascript" src="{% static "pygal-tooltips.min.js"%}"></script>
  <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
  <link rel='icon' href="{% static "/pe_invert.png"%}" type='image/png'>
  <link rel="stylesheet" href="https://use.typekit.net/smg7one.css">
  <link rel="stylesheet"  href="{% static "pe.css"%}"/>
</head>
<body class='pe_body'>
    <a class='row justify-content-center'href="{% url 'landing_index' %}"><img src="{% static "/pe_logo3.jpg"%}" alt="Aw Fuck"></a>
      <div class="row justify-content-center">
        <div class="col-">
          <div class="jumbotron">
            <h1>Resources</h1>
            <hr>
          {% if user.is_authenticated %}
              <p><a class='sideBarButton' href="{% url 'landing_index' %}">Home</a></p>
              <p><a class='sideBarButton' href="{% url 'device_app:donor_list' %}">Company Legal Information</a></p>
              <p><a class='sideBarButton' href="{% url 'device_app:device_list' %}">Employee Contracts</a></p>
              <p><a class='sideBarButton' href="{% url 'device_app:campaign_list'%}">Outreach Contracts</a></p>
              <p><a class='sideBarButton' href="{% url 'device_app:donation_house_list'%}">Platform tutorials</a></p>
              <p><a class='sideBarButton' href="{% url 'logout' %}">Logout</a></p>
          {% else %}
              <p><a class='sideBarButton' href="{% url 'device_app:user_login' %}">Login</a></p>
          {% endif %}
        </div>
      </div>
      <div class='col-md-8'>
        <div class="jumbotron">
        {% block body_block %}

        {% endblock %}
        </div>
      </div>
  </div>
</body>
</html>
