<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Operations</title>
  <script type="text/javascript" src="{% static "pygal-tooltips.js"%}"></script>
  <script type="text/javascript" src="{% static "pygal-tooltips.min.js"%}"></script>
  <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/smg7one.css">
  <link rel="stylesheet"  href="{% static "pe.css"%}"/>
</head>
<body class='pe_body'>
    <a class='row justify-content-center'href="{% url 'landing_index' %}"><img src="{% static "/pe_logo3.jpg"%}" alt="Aw Fuck"></a>
      <div class="row justify-content-center">
        <div class="col-">
          <div class="jumbotron">
            <h1>Resources</h1>
            <p><a class='button' href="https://www.projectembrace.org">Back to Homepage</a></p>
            <p><a class='button' href="{% url 'device_app:public_dash_inventory' %}">Inventory Dashboard</a></p>
            <p><a class='button' href="{% url 'device_app:operations_index' %}">Donate Medical Equipment</a></p>
            <p><a class='button' href="{% url 'device_app:operations_index' %}">Request a Campaign</a></p>
          </div>
        </div>
          <div class='col-lg-'>
            <div class="jumbotron">
            {% block body_block %}

            {% endblock %}
            </div>
          </div>
        </div>
      </div>
</body>
</html>
