{% extends 'device_app/public_dash.html' %}
{% load bootstrap4%}
{% load crispy_forms_tags %}
{% block body_block %}
<h1>Medical Equipment Donation Information Form</h1>
<hr>
<p>Please fill out this form to the best of your ability. We request this information so that we may contact you adequately. <br> If you are an <span style='color:#BE1E2D'>individual</span> and not part of an organization, please type <span style='color:#BE1E2D'>"Individual Donor"</span> in the <span style='color:#BE1E2D'>"Organization"</span> box.</p>

<form method="post" class='table-container'>
{% csrf_token %}
{{ form |crispy }}
{% bootstrap_button "Submit" button_type="submit" button_class="sideBarButton" %}
</form>
{% endblock %}
