{% extends 'device_app/public_dash.html' %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Public Dashboard</h1>
    <p>
       This is where the public dashboard will direct to from projectembrace.org!
    </p>
    <!-- <p>The way we use this app is pretty easy! Click on <a id="pe_format" href="#">here</a> if you are unsure of anything.</p> -->
    <p>
      Reach out to me with any questions.
      <br>
      <br>
      C. Kinkade Darling - Director of Software Engineering
    </p>
  </div>
{% endblock %}
