<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Relationship Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/smg7one.css">
    <link rel="stylesheet"  href="{% static "pe.css"%}"/>
  </head>
  <body class='pe_body'>
    <div class="container">
              <a class="nav justify-content-center" href="{% url 'landing_index' %}"><img src="{% static "/pe_logo3.jpg"%}" alt="Aw Fuck"></a>
<br>
      <ul class="nav justify-content-center">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'device_app:donor_list' %}">Marketing Outreach</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'device_app:device_list' %}">Community Organization</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'device_app:campaign_list'%}">Campaign Outreach</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'device_app:donation_house_list'%}">Operations Outreach</a>
            </li>
            <li class="nav-item">
              <a class='nav-link' href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li>
              <a class='nav-link'href="{% url 'device_app:user_login' %}">Login</a>
            </li>
          {% endif %}
      </ul>
    <div class="container">
        {% block body_block %}

        {% endblock %}
    </div>
  </body>
</html>
