{% extends 'device_app/relationships.html' %}
{% block body_block %}
{% if user.is_authenticated %}
  <div class="jumbotron">
    <h1>Relationship Management</h1>
    <p>
      Here is our proprietary customer relationship management tool. Here you will find information on individuals we have contacted in the past,
      their relationship with our firm, and what has happened over the span of our relationship. 
    </p>
    <!-- <p>The way we use this app is pretty easy! Click on <a id="pe_format" href="#">here</a> if you are unsure of anything.</p> -->
    <p>
      Reach out to me with any questions.
      <br>
      <br>
      C. Kinkade Darling - Director of Software Engineering
    </p>
  </div>
{% else %}
  <div class="jumbotron">
      <center><p>If you do not have access to this page, contact the administator at <b id='pe_format'>hello@projectembrace.org</b> </p>
      <p><a id='pe_format' href='https://www.projectembrace.org'><b>projectembrace.org</b></a></p></center>


{% endif %}
{% endblock %}
