{% extends 'device_app/operations.html' %}
{% load staticfiles %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% block body_block %}
{% if user.is_authenticated %}
<h1>Storage Areas</h1>
<hr>
<table>
  <tr>
    <td><a class="button" href="{% url 'device_app:storage_create'%}">Create Storage Area</a></td>
  </tr>
</table>
    {% if filter %}
      <form action="" method="get" class = 'form form-group row' >
        {% csrf_token %}
        {% bootstrap_form filter.form %}
        {% bootstrap_button "Filter" button_class='longBodyButton' %}
      </form>
    {% endif %}
  {% render_table table 'device_app/table.html' %}
  {% else %}
        <center><p>If you do not have access to this page, contact the administator at <b id='pe_red'>hello@projectembrace.org</b> </p>
        <p><a id='pe_red' href='https://www.projectembrace.org'><b>projectembrace.org</b></a></p></center>
  {% endif %}
{% endblock %}
