{% extends 'device_app/operations.html' %}
{% block body_block %}
<div class="jumbotron">
      <h1>Storage Area</h1>
      <p>Title: {{storage_detail.title}}</p>
      <p>Address: {{storage_detail.street}}, {{storage_detail.city}},
          {{storage_detail.state}} {{storage_detail.zip}}
          <br>
            <h4 style="color:#BE1E2D;">{{storage_detail.title}} has {{ storage_detail.device_storage_area.count }} devices!</h4>
          <br>
          <h2>Devices:</h2>
          <!-- <form method="POST" action=".">
                  {% csrf_token %}
            <input id="search_box" type="text" name="ss"  placeholder="Search Devices..." >
            <button id='button'class="button" type="submit" >Submit</button>
          </form> -->
          <br>
      {% for device in storage_detail.device_storage_area.all %}
        <ul>
          <li>
            <a class='annoying'href="{% url 'device_app:device_detail' pk=device.pk %}">Type: {{device.type}} || ID: {{device.id}}</a>
          </li>
        </ul>
      {% endfor %}
        <ul>
          {% for searchDevice in searchDevices %}
          <h6 class='annoying'>
            <li class='annoying'>
              <a class='annoying' href="{{searchDevice.id}}">Type: {{searchDevice.type}} || Campaign: {{searchDevice.campaign}} || Device ID: {{searchDevice.id}}</a>
            </li>
          </h6>
          <br>
          {% endfor %}
        </ul>
</div>
{% endblock%}
