@font-face {
  font-family: "sofia-pro-soft", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  all: unset;
}
#search_box{
  width: 200px;
}
.nav .nav-link{
  color:#BE1E2D;
  font-family: "Sofia Pro Soft";
}
.nav .nav-link:hover{
   opacity: .1;
}
#pe_format{
  font-family: "Sofia Pro Soft";
  color:#BE1E2D;
}
h1{
  font-family: "Sofia Pro Soft";
  font-weight: bold;
}

div{
  font-family: "Sofia Pro Soft";
  margin: 25px;
  padding:5px;
}

p{
  font-family: "Sofia Pro Soft";
}

#button{
    border-radius: 3px;
    color:#FFFFFF;
    background-color:#BE1E2D;
}
.button {
  background-color:#BE1E2D;
  border-radius: 3px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {opacity: .8}
form{
  font-family: "Sofia Pro Soft";
}
.annoying{
  font-family: "Sofia Pro Soft";
  color:black;
}

input .text{
  width:100%;
}
/* mouse over link */
a:hover {
  color: white;
}
/* .container{
    display: flex
} */
/* .table,th,td{
  border:20px;
} */
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
