@font-face {
  font-family: 'sofia-pro-soft', sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  all: unset;
}
#search_box{
  width: 200px;
}
.pe_body {
  background-color:rgb(34, 31, 32);
}
#pe_header {
  background-color:rgb(179, 181, 184,.5);
}
.nav .nav-link{
  color:rgb(255, 255, 255);
  font-family: 'sofia-pro-soft';
}
.nav .nav-link:hover{
   opacity: .3;
}
#pe_format{
  font-family: 'sofia-pro-soft';
  color:rgb(255, 255,255);
}
#pe_red{
  font-family: 'sofia-pro-soft';
  color:rgb(190, 30, 45);
}
h1{
  font-family:'sofia-pro-soft';
  font-weight: bold;
}

div{
  font-family:'sofia-pro-soft';
  margin: 25px;
  padding:5px;
}

p{
  font-family:'sofia-pro-soft';
}

#button{
    border-radius: 3px;
    color:#FFFFFF;
    background-color:#BE1E2D;
}
.button {
  background-color:#BE1E2D;
  border-radius: 3px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {opacity: .8}
form{
  font-family:'sofia-pro-soft';
}
.annoying{
  font-family:'sofia-pro-soft';
  color:black;
}

input .text{
  width:100%;
}
/* mouse over link */
a:hover {
  color: white;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
